.credenciales {
  font-size: 28px;
  display: inline-block;
  font-family: Amaranth;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 2px;
  position: relative;
  box-sizing: border-box;
}

.credenciales::after {
  content: 'Validando...';
  position: absolute;
  left: 0;
  top: 0;
  color: #4073ff;
  text-shadow: 0 0 2px #44ffb1, 0 0 1px #44ffb1, 0 0 1px #44ffb1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 0.4s linear infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}