@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Concert+One&display=swap');
body{
  font-family: 'Amaranth', sans-serif;
}
.active{
  background-color: rgba(185, 185, 185, 0.39);
  color: #fff;
}