@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Concert+One&display=swap');
body{
  font-family: 'Amaranth', sans-serif;
}
.active{
  background-color: rgba(255, 255, 255);
  color: #0c0c0c;
}
.bg-login{
  background: linear-gradient(180deg, #FFFAEC 0%, #EEF5FF 100%);
}